%background-color-black {
  background-color: black;
}

%background-color-transparent {
  background-color: transparent;
}

%background-color-white {
  background-color: white;
}

%background-image-none {
  background-image: none;
}

%background-position-center {
  background-position: center;
}

%background-repeat-no-repeat {
  background-repeat: no-repeat;
}

%background-size-0 {
  background-size: 0;
}

%background-size-100pc {
  background-size: 100%;
}

%background-size-contain {
  background-size: contain;
}

%background-size-cover {
  background-size: cover;
}

%border-radius-50pc {
  border-radius: 50%;
}

%bottom-0 {
  bottom: 0;
}

%color-black {
  color: black;
}

%color-white {
  color: white;
}

%content-empty {
  content: "";
}

%cursor-default {
  cursor: default;
}

%cursor-pointer {
  cursor: pointer;
}

%display-flex {
  display: flex;
}

%display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%display-flex-center-x {
  display: flex;
  justify-content: center;
}

%display-flex-center-y {
  display: flex;
  align-items: center;
}

%display-flex-column {
  display: flex;
  flex-direction: column;
}

%display-flex-row {
  display: flex;
  flex-direction: row;
}

%flex-direction-column {
  flex-direction: column;
}

%flex-direction-row {
  flex-direction: row;
}

%font-weight-200 {
  font-weight: 200;
}

%font-weight-400 {
  font-weight: 400;
}

%font-weight-600 {
  font-weight: 600;
}

%font-weight-bold {
  font-weight: bold;
}

%height-0 {
  height: 0;
}

%height-100pc {
  height: 100%;
}

%height-auto {
  height: auto;
}

%height-fit-content {
  height: fit-content;
}

%justify-content-space-between {
  justify-content: space-between;
}

%left-0 {
  left: 0;
}

%margin-0 {
  margin: 0;
}

%margin-10px {
  margin: 10px;
}

%margin-14px {
  margin: 14px;
}

%margin-20px {
  margin: 20px;
}

%margin-auto {
  margin: auto;
}

%opacity-0 {
  opacity: 0;
}

%opacity-1 {
  opacity: 1;
}

%padding-0 {
  padding: 0;
}

%padding-10px {
  padding: 10px;
}

%padding-14px {
  padding: 14px;
}

%padding-20px {
  padding: 20px;
}

%position-absolute {
  position: absolute;
}

%position-relative {
  position: relative;
}

%right-0 {
  right: 0;
}

%top-0 {
  top: 0;
}

%width-0 {
  width: 0;
}

%width-100pc {
  width: 100%;
}

%width-auto {
  width: auto;
}

%width-fit-content {
  width: fit-content;
}

%z-index--1 {
  z-index: -1;
}

%z-index-0 {
  z-index: 0;
}
